body {
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    background-color:#01579B;
    width:100%;
}

header > h1 {
    color:white;
    margin-left:2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:1.5rem;
}

#file {
    margin-top:1rem;
}

#block {
    width:17rem;
    height:17rem;
    border:0.10rem dashed #212121;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:1rem;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container > img {
    max-width:40%;
    margin:1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}